.skills_container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
}

.skills_container>div {
    background: var(--color-bg-variant);
    padding: 2.4rem 5rem;
    border-radius: 2rem;
    border: 1px solid transparent;
    transition: var(--transition);
}

.skills_container>div:hover {
    border-color: var(--color-primary-variant);
    background: transparent;
    cursor: default;
}

.skills_container>div h3 {
    text-align: center;
    color: var(--color-primary);
    margin-bottom: 2rem;
}

.skills_content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 2rem;
}

.skills_details {
    display: flex;
    gap: 1rem;
}

.skills_icon {
    margin-top: 6px;
    color: var(--color-primary);
}

@media screen and (max-width:1024px) {
    .skills_container {
        grid-template-columns: 1fr;
    }

    .skills_container>div {
        width: 80%;
        margin: 0 auto;
        padding: 2rem;
    }

    .skills_content {
        padding: 1rem;
    }
}

@media screen and (max-width:600px) {
    .skills_container{
        gap: 1rem;
    }
    .skills_container>div {
        width: 100%;
    }
    .skills_details{
        gap: 0.5rem;
    }
}